/* BACKGROOUND */
.container-BG{
	background-color: #D9D9D9; //SVJETLINA:1-10
	height: 100%;
	width: 100%;
}
.menu-BG {
	background-color: #BABABA; //SVJETLINA:5-10
}
.menu-BG {
	background-color: #333333;	//SVJETLINA:10-10
}
.boxX {
	width: 60px;
	height: 60px;
	background-color: blue;
	position: absolute;
	top: 0;
}