/* Carousel */
.carousel {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 0 auto;
  .carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    img {
      width: 25px;
    }
  }
  .carousel_button--left {
    left: -40px;
  }
  .carousel_button--right {
    right: -40px;
  }
  .carousel_track-container {
    background: lightgreen;
    height: 100%;
    position: relative;
    overflow: hidden;
    .carousel_track {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      height: 100%;
      transition: transform 250ms ease-in;
      .carousel_slide {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        .carousel_image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .carousel_nav {
    /* background: pink; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
    .carousel_indicator {
      border: 0;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: $gray-4;
      margin: 0 12px;
      cursor: pointer;
      &.current-slide {
        background: $primary-0;
      }
    }
  }
  @include respond-to(extrasmall-screens) {  }
  @include respond-to(small-screens) {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(large-screens) {
      max-width: 400px;
      .carousel_slide {
          max-width: 400px;
          img {
              max-width: 400px;
          }
      }
  }
  @include respond-to(large-2-screens) { 
      max-width: 500px;
      .carousel_slide {
          max-width: 500px;
          img {
              max-width: 500px;
          }
      }
  }
  @include respond-to(extralarge-screens) { 
      max-width: 600px;
      .carousel_slide {
          max-width: 600px;
          img {
              max-width: 600px;
          }
      }
  }
}

.is-hidden {display: none;}