/* Navigation */
@import "../1-layouts/_brakepoint.scss";
@import "../2-modules/_mixins.scss";

header {
  position: fixed;
  z-index: 999;
  height: 65px;
  width: 100%;
  background-color: $primary-0;
  color: $white !important;
  .head {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 65px;
    justify-content: center;
    align-items: center;
    text-align: center;
    .head-item {
      place-self: center;
      a {
        padding: 0 0 0 10px;;
        img {
          min-width: 65px;
        }
      }
      .hamburger .burger label .bar {
        background-color: $white !important;
      }

      h2 {
        color: $white !important;
        @include respond-to(extrasmall-screens) { 
          font-size: 0.9em; 
          color: $white !important;
        }
        @include respond-to(small-screens) { 
          font-size: 1em;
          color: $white !important;
        }
        @include respond-to(medium-screens) { 
          font-size: 1.3em;
          color: $white !important;
        }
      }
    }
  }
  .mainSidebar {
    @include mainSidebar();
    height: 100%;
    width: 0;
    top: 65px;
    left: 0;
    margin:0;
    padding:0;
    ul li span, a {
      text-align: right;
    }
    li {
      list-style: none;
      text-transform: uppercase;
      font-weight: bold;
      a {
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.5em !important;
        color: $primary-1;
      }
      span {
        display: block;
        pointer-events: auto;
        color: $primary-4 !important;
        font-weight: bolder;
      }
    }
  } 
}


.nav {
  font-size: 1em;
  ul {
    li {
      margin: .5em 2.5em .5em 2.5em;
      transition: all .3s ease-out;
      a {
        
        text-decoration: none;
        transition: all .3s ease-out;
        &:hover {
          transition: all .15s ease-in;
          transform: translateY(-5px);
          background: linear-gradient(120deg, #09203f, #537895);
          -webkit-background-clip: text;
          color: transparent;
        }
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: linear-gradient(120deg, #09203f, #537895);
          transform: rotateY(90deg);
          transition: all .45s ease-in-out;
        }
        &:hover:after {
          transform: rotateY(0deg);
          transition: all .15s ease-in-out;
        }
      }
    }
  }
}

