// scrollspy

.navbar_Scrollspy {
  height: 60px;
  width: 80%;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  z-index: 99;
  a {
    color: $white;
  }
}
.main_Scrollspy {
  display: block;
  position: relative;
  top: 50px;
}
.hero-bg {
  width: auto;
  height: 100vh;
  display: grid;
  justify-items: center;
}
.content_Scrollspy{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 80%;
  h2, p, small {
    color: $white !important;
  }
  code {
    align-self: end;
    width: 100% !important;
  }
  small {
    align-self: start;
  }
  code {
    height: auto !important;
    max-height: 400px !important;
  }
}
#navbar { background: $primary-1; }
#description { background: $warrning-01; }
#classes { background: $danger-01; }
#html_scrollspy { background: $success-01; }
#scss_scrollspy { background: $primary-01; }
h1 {
  font-size: 5em;
}
.nav-item {
  transition: background 200ms;
}